@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-white: #ebebeb;
    /* PALETA DE CORES - LOGO*/
    --cor-blue: #0075F2;
    --cor-pink: #FF0078;
    --cor-orange: #FF8A00;
    --cor-yellow: #F3F800;

    --font-padrao: 'Nunito Sans', sans-serif;
    --font-drop: 'Grandstander', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: var(--font-padrao);
    color: var(--cor-white);

    background: pink url(midia/background-ultimate.png) left top no-repeat scroll;
    background-size: cover ;
}

header {
    margin-bottom: 20px;
}

header #logo-drop {
    width: min(90px, 18vw);
    display: block;
    margin: auto;
    padding-top: 40px;
    margin-bottom: 45px;
}

#section1 h1 {
    font-family: var(--font-drop);
    font-size: min(45px, 8vw);
    font-weight: 400;
    text-align: center;
    margin-bottom: 28px;
}

#h1-underline {
    width: 105px;
    margin: 0px 0px -7px -116px;
}

#section1 h1 > strong {
    font-weight: 600;
    color: #F3F800;
}

main {
    max-width: 850px;
    margin: auto;
}

section {
    padding: 15px;
}

#section1 {
    max-width: 700px;
    margin: auto;
}

#section1 p {
    font-size: min(22px, 4.5vw);
    
    font-weight: 400;
    max-width: 1707px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

#section1 strong {
    color: var(--cor-blue);
}

h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}

#link-1 {
    margin-top: 50px;
    max-width: 1707px;
}

.container-link {
    max-width: 500px;
    position: relative;  
    margin: auto;
}

#link-1 img {
    display: block;
    width: 100%;   
    position: absolute;
}

#link-1 img:hover {
    transition: 0.5s;
    transform: scale(0.9);
}

