@charset "UTF-8";

body {
    background: pink url(midia/header-mobile.jpg) center center no-repeat fixed;
    background-size: 100% 100%;
}

header #logo-drop {
    width: min(100px, 18vw);
    display: block;
    margin: auto;
    padding-top: 30px;
}